.center {
    margin-top: 40px;
}
.name {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: -1px;
}
.title {
    text-align: center;
    margin-top: 50px;
}
.learn {
    font-family: sans-serif;
    font-size: 60px;
    margin-top: -30px;
}
.online {
    font-size: 25px;
    font-family: sans-serif;
}
.button {
    text-align: center;
}
.images {
   
    display: flex;

}
.name {
    margin-bottom: -4px;
   
}
.apple {
    margin-right: auto;
}
.atm {
    margin: left;
}
.center {
    width: 250px;
    text-align: center;
    height: 45px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 25px;
    
}
.bot {
    text-align: center;
}
.images {
    text-align: center;
    margin-top: 80px;
}
.head {
    background-color: black;
    height: 800px;
    margin-top: 150px;
 
}
.heading {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 100px;
    
}
.write {
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
.col-6 {
    width: 450px;
    height: 400px;
    color: white;
    border: solid rgb(252, 164, 164);
    border-radius: 30px;
    
}
.coding{
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
    font-style: bold;
    margin-top: 30px;
    margin-left:20px ;
    color: #fca4a4;

}
.row {
    text-align: center;
    margin-top: 80px;
}
.box1 {
    margin: auto;
    text-align: left;


}
.box2 {
    margin: auto;
    border-color: #86f0ad;
}
.stanza {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}
.cross {
    text-align: right;
    padding-left: 100px;

}
.coding2 {
    color: #86f0ad;
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
    font-style: bold;
    margin-top: 30px;
    margin-left:20px;
}
.true {
    text-align: right;
    padding-left: 100px;
}
.stanza2 {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    text-align: left;
}
